.block{ 
	width:100%; 
	padding:5px;
	line-height:21px;
}
.block .star_score{ 
	float:left;
}
.star_list{
	height:21px;
	margin:50px; 
	line-height:21px;
}
.block p,.block .attitude{ 
	padding-left:20px; 
	line-height:21px; 
	display:inline-block;
}
.block p span{ 
	color:#C00; 
	font-size:16px; 
	font-family:Georgia, "Times New Roman", Times, serif;
}

.star_score { 
	background:url(../img/star_score/stark2.png); 
	width:160px; 
	height:21px;  
	position:relative; 
}

.star_score a{ 
	height:21px; 
	display:block; 
	text-indent:-999em; 
	position:absolute;
	left:0;
}

.star_score a:hover{ 
	background:url(../img/star_score/stars2.png);
	left:0;
}

.star_score a.clibg{ 
	background:url(../img/star_score/stars2.png);
	left:0;
}

#starttwo .star_score { 
	background:url(../img/star_score/starky.png);
}

#starttwo .star_score a:hover{ 
	background:url(../img/star_score/starsy.png);
	left:0;
}

#starttwo .star_score a.clibg{ 
	background:url(../img/star_score/starsy.png);
	left:0;
}

/*ÐÇÐÇÑùÊ½*/

.show_number{ 
	padding-left:50px; 
	padding-top:20px;
}

.show_number li{ 
	width:240px; 
	border:1px solid #ccc; 
	padding:10px; 
	margin-right:5px; 
	margin-bottom:20px;
}

.atar_Show{
	background:url(../img/star_score/stark2.png); 
	width:160px; height:21px;  
	position:relative; 
	float:left; 
}

.atar_Show p{ 
	background:url(../img/star_score/stars2.png);
	left:0; 
	height:21px; 
	width:134px;
}

.show_number li span{ 
	display:inline-block; 
	line-height:21px;
}